* {
	margin: 0;
	padding: 0; 
}
.wrapper {
	display: grid;
	place-items: center;
	height: 100vh;
}
.wrapper img {
	width: 30%;
}
body {
	background: url("https://i.ibb.co/4JCWRt6/pexels-sam-kolder-2387877.jpg") repeat 0 0;
	animation: animate 5s infinite;
	animation-timing-function: linear;
}
@keyframes animate {
	100% {
		background-position: -1200px -1200px;
	}
}